In [1]:
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

import numpy as np

np_height = np.array(height)
np_weight = np.array(weight)

In [2]:
print(type(np_height))

<class 'numpy.ndarray'>

In [3]:
bmi = np_weight / np_height ** 2

print(bmi)

[23.34925219 27.88755755 28.75558507 25.48723993 23.87257618 25.84368152]

In [4]:
bmi > 23

bmi[bmi > 23]

array([23.34925219, 27.88755755, 28.75558507, 25.48723993, 23.87257618,
       25.84368152])

In [6]:
weight_kg = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

import numpy as np

np_weight_kg = np.array(weight_kg)

np_weight_lbs = np_weight_kg * 2.2

print(np_weight_lbs)

[179.63  214.544 209.55  204.556 189.596 194.59 ]

In [37]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [38]:
brics.index = ["BR", "RU", "IN", "CH", "SA"]

print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [39]:
import pandas as pd

cars = pd.read_csv('cars.csv')

print(cars)

  Unnamed    0   cars_per_cap  country drives_right
0      US  809  United States                  True
1     AUS  731      Australia                 False
2     JAP  588          Japan                 False
3      IN   18          India                 False
4      RU  200         Russia                  True
5     MOR   70        Morocco                  True
6      EG   45          Egypt                  True

In [40]:
import csv

with open('cars.csv', 'w', newline='') as f:
    thewriter = csv.writer(f)
    
    thewriter.writerow(['Unnamed', '0', 'cars_per_cap', 'country drives_right'])
    
    thewriter.writerow(['US', '809', 'United States', 'True']) 
    
   
    thewriter.writerow(['AUS', '731', 'Australia', 'False'])
    
    thewriter.writerow(['JAP', '588', 'Japan', 'False'])
    
    thewriter.writerow(['IN', '18', 'India', 'False'])
    
    thewriter.writerow(['RU', '200', 'Russia', 'True'])
    
    thewriter.writerow(['MOR', '70', 'Morocco', 'True'])
    
    thewriter.writerow(['EG', '45', 'Egypt', 'True'])

In [44]:
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

print(cars['cars_per_cap'])

print(cars[['cars_per_cap']])

print(cars[['cars_per_cap']])

Unnamed
US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: cars_per_cap, dtype: object
          cars_per_cap
Unnamed
US       United States
AUS          Australia
JAP              Japan
IN               India
RU              Russia
MOR            Morocco
EG               Egypt
          cars_per_cap
Unnamed
US       United States
AUS          Australia
JAP              Japan
IN               India
RU              Russia
MOR            Morocco
EG               Egypt

In [42]:
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

print(cars[0:4])
print(cars[4:6])

           0   cars_per_cap  country drives_right
Unnamed
US       809  United States                  True
AUS      731      Australia                 False
JAP      588          Japan                 False
IN        18          India                 False
           0 cars_per_cap  country drives_right
Unnamed
RU       200       Russia                  True
MOR       70      Morocco                  True

In [46]:
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

print(cars.iloc[2])

print(cars.loc[['AUS', 'EG']])

0                         588
cars_per_cap            Japan
country drives_right    False
Name: JAP, dtype: object
           0 cars_per_cap  country drives_right
Unnamed
AUS      731    Australia                 False
EG        45        Egypt                  True